<ion-header>
  <ion-toolbar>
    <ion-title>notesAdd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center" color="primary">
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked" placeholder="Date and method"></ion-label> 
        <ion-textarea placeholder="Write a note..."></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  

</ion-content>
