<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center" color="primary">
      Reporting limits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Limits</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
      <ion-grid>
  
        <ion-row>
          <ion-col size="4">
            <h4>Analyte</h4>
          </ion-col>
          <ion-col>
            <h4>Low</h4>
          </ion-col>
          <ion-col>
            <h4>High</h4>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="4">
            Amfetamiinit
          </ion-col>
          <ion-col>
            0,04 mg/l (0,05 vi)
          </ion-col>
          <ion-col>
            100 mg/l
          </ion-col>
        </ion-row>
       
        <ion-row>
          <ion-col size="4">
            Muuntohuum.
          </ion-col>
          <ion-col>
            0,02 mg/l
          </ion-col>
          <ion-col>
            ?
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="4">
            Opiaatit
          </ion-col>
          <ion-col>
            0,02 mg/l (0,01 6-MAM)
          </ion-col>
          <ion-col>
            10 mg/l
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col size="4">
            Kokaiini + metab.
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
      
        
        <ion-row>
          <ion-col size="4">
            Metadoni + EDDP
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
    
        
        <ion-row>
          <ion-col size="4">
            Etyleeniglykoli
          </ion-col>
          <ion-col>
            0,2 g/l
          </ion-col>
          <ion-col>
            20 g/l
          </ion-col>
        </ion-row>
      
    
        <ion-row>
          <ion-col size="4">
            Propofoli
          </ion-col>
          <ion-col>
            0,3 mg/l
          </ion-col>
          <ion-col>
            
          </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col size="4">
            Valproaatti
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col size="4">
            Oksikodonit
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col size="4">
            Naloksoni
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col size="4">
            Fentanyylit
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col size="4">
            THC-COOH (vi)
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col size="4">
            Kannabikset (ve)
          </ion-col>
          <ion-col>
            0,05 mg/l
          </ion-col>
          <ion-col>
            20 mg/l
          </ion-col>
        </ion-row>
    
      </ion-grid>
  </ion-card>
  
</ion-content>
